<!-- @dsCard group="Components" viewport="700x340" name="Data" subtitle="MetricCard, DataValue, Table" -->
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<div id="root" style="padding:16px;font-family:var(--font-sans)"></div>
<script type="text/babel">
const { MetricCard, DataValue, Table } = window.ELEVDesignSystem_bbdc25;
function Demo(){
  const rows = [
    {date:'12/05/2026',type:'Course à pied',distance:'12,4 km',dplus:'320 m'},
    {date:'09/05/2026',type:'Trail',distance:'21,0 km',dplus:'980 m'},
  ];
  return (
    <div style={{display:'flex',flexDirection:'column',gap:14}}>
      <div style={{display:'flex',gap:10}}>
        <MetricCard label="Distance" value="12,40" unit=" km" />
        <MetricCard label="D+" value="320" unit=" m" />
        <MetricCard label="FC max" na />
      </div>
      <p style={{fontSize:14,margin:0}}>Sortie terrain, <DataValue emphasis>D+ 800 m</DataValue> au total.</p>
      <Table columns={[{key:'date',label:'Date'},{key:'type',label:'Type'},{key:'distance',label:'Distance',mono:true},{key:'dplus',label:'D+',mono:true}]} rows={rows} onRowClick={()=>{}} />
    </div>
  );
}
ReactDOM.createRoot(document.getElementById('root')).render(<Demo/>);
</script>
